:root {
  background-color: aqua;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 20rem;
}

#game {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(89, 0, 255);
  font-size: 2.5rem;
  min-width: 600px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.1rem 0 rgb(1, 5, 255);
  transform: scale(1.02);
  transition: transform(100ms);
}

.choice-prefix {
  padding: 1rem 2.5rem;
  color: white;
}

.choice-text {
  padding: 1rem;
  width: 100%;
}

.correct {
  background-color: rgb(0, 202, 0);
}

.incorrect {
  background-color: red;
}

#question {
  font-size: 30px;
  margin-bottom: 20px;
  line-break: 0px;
  color: white;
}

/* Heads Up Display (HUD) */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 1.5rem;
}

.hud-main-text {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin-bottom: 2rem;
}

#progressBar {
  width: 22rem;
  height: 2.5rem;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  width: 0;
  height: 100%;
  background-color: red;
}

@media screen and (max-width: 480px) {
  .choice-container {
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-height: 450px;
  }
}
