* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(131, 255, 255);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 20rem;
}

#end {
  justify-content: center;
  flex-direction: column;
  display: flex;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(100, 100, 100);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.end-form-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

input {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 500px;
  margin-bottom: 3rem;
  outline: none;
  font-size: 1.4rem;
  border: none;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(78, 78, 78);
  position: relative;
  left: 45px;
}

input::placeholder {
  color: #aaa;
}

#finalScore {
  font-weight: 400;
  position: relative;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 50px;
}

#end-text {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

#saveScoreBtn {
  border: none;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(226, 43, 171);
  border-radius: 5px;
  position: relative;
  left: 55px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.1rem 0 rgb(255, 1, 213);
  transform: scale(1.02);
  transition: transform(100ms);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a img {
  width: 25px;
  margin-left: 10px;
}

i {
  margin-left: 10px;
}
