:root {
  background-color: rgb(131, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#game {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(100, 100, 100);
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 600px;
  border-radius: 5px;
  background-color: rgb(89, 0, 255);
  color: white;
  font-size: 20px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.1rem 0 rgb(1, 5, 255);
  transform: scale(1.02);
  transition: transform(100ms);
}

.choice-prefix {
  padding: 1rem;
  color: white;
}

.choice-text {
  padding: 1rem;
}

.correct {
  background-color: rgb(0, 202, 0);
}

.incorrect {
  background-color: red;
}

#question {
  font-size: 23px;
  margin-bottom: 20px;
  width: 600px;
}

/* Heads Up Display (HUD) */
#hud {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 20px;
}

.hud-prefix {
  text-align: center;
  font-size: 1.5rem;
}

.hud-main-text {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#progressBar {
  width: 250px;
  height: 1.5rem;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  width: 0;
  height: 100%;
  background-color: red;
}

@media screen and (max-width: 469px) {
  #game {
    padding: 10px 10px;
  }
  .choice-container {
    font-size: 10px;
    width: 250px;
  }

  .container {
    width: 100vw;
    height: 100vh;
  }

  #question {
    font-size: 13px;
    margin-bottom: 20px;
    width: 250px;
  }

  #hud {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;
  }

  .hud-prefix {
    text-align: center;
    font-size: 0.7rem;
  }

  .hud-main-text {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  #progressBar {
    width: 120px;
    height: 1rem;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    overflow: hidden;
  }
}

@media screen and (min-width: 470px) {
  #game {
    padding: 20px 20px;
  }
  .choice-container {
    font-size: 10px;
    width: 400px;
    font-size: 20px;
  }

  .container {
    width: 100vw;
    height: 100vh;
  }

  #question {
    font-size: 20px;
    margin-bottom: 20px;
    width: 400px;
  }

  #hud {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 20px;
  }

  .hud-prefix {
    text-align: center;
    font-size: 1.2rem;
  }

  .hud-main-text {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.6rem;
  }

  #progressBar {
    width: 220px;
    height: 1.5rem;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    overflow: hidden;
  }
}
