:root {
  background-color: rgb(131, 255, 255);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 20rem;
}

.home-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(100, 100, 100);
  align-items: center;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  font-size: 1.9rem;
  padding: 1rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(226, 43, 171);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 1, 170);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background-color: rgb(0, 4, 255);
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(1, 5, 255);
}

.fas {
  margin-left: 10px;
  font-size: 25px;
}
